API_ID=29638911
API_HASH=822e778f5a2560a74185d07a1c2010af

MIN_AVAILABLE_ENERGY=
SLEEP_BY_MIN_ENERGY=

ADD_TAPS_ON_TURBO=

AUTO_UPGRADE=
MAX_LEVEL=

BALANCE_TO_SAVE=
UPGRADES_COUNT=

APPLY_DAILY_ENERGY=
APPLY_DAILY_TURBO=

RANDOM_TAPS_COUNT=
SLEEP_BETWEEN_TAP=
USE_PROXY_FROM_FILE=
